<div id="app">
  <div class="to_form">
    <%=link_to "登録ページ", new_register_path %>
  </div>
    <navbar></navbar>
    <div class="container">
     <router-view></router-view>
    </div>
  </div>

  


  <%= javascript_pack_tag 'home' %>

