/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap/scss/bootstrap';

.Head h1 {
  font-size: 50px;
  text-align:center;
  font-family: 'Londrina solid', cursive;
}

.form {
  text-align: center;
}

.form-top p {
  font-size: 20px;
  border-bottom: groove;
}

.form-bottom {
  margin-top: 10px;
  text-align: center;
}

.btn {
  font-size: 25px;
}

.error {
  color: red;
}
